$primary-color: #242a32;
$secondary-color: white;
$highlight-color: #faf8f1;
$accent-color: aliceblue;

button {
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 50px;
  flex: content;
  margin-top: -25px;
  margin-right: auto;

  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

img {
  width: 100%;
}

h1 {
  color: $secondary-color;
}

.search-text {
  color: $highlight-color;
  font-size: 19px;
}

h5 {
  color: $accent-color;
}
