<div class="contain mt-5 p-5">
  <p class="search-text mt-3"><i>What Do You Want to watch?</i></p>
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="mb-3 col-lg-10">
        <input
          type="text"
          class="form-control"
          formControlName="movieName"
          placeholder="Search Movie Here ..."
        />
      </div>

      <div class="col-lg-2">
        <button class="btn btn-md search-button">
          <i
            class="fa-solid fa-magnifying-glass fa-rotate-90"
            style="color: #030303"
          ></i>
        </button>
      </div>
    </div>
  </form>

  <div class="row mt-5">
    <div class="col-lg-4" *ngFor="let s of searchResult">
      <div class="row">
        <div class="col-lg-3 mt-4 mb-4" *ngIf="s.poster_path">
          <img
            src="https://image.tmdb.org/t/p/original/{{ s.poster_path }}"
            [routerLink]="['/movie', s.id]"
          />
        </div>
        <div class="col-lg-9 mt-4 mb-4">
          <h5>{{ s.original_title }}</h5>
          <div class="feature">
            <p>
              <i class="fa-regular fa-star" style="color: #eebe3a"></i>
              {{ s.vote_average }}
            </p>
            <p>
              <i class="fa-solid fa-calendar-days" style="color: #e8e8e8"></i>
              {{ s.release_date }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="text-center mt-5"
    *ngIf="searchResult && searchResult.length === 0"
  >
    <img src="assets/search.png" style="width: 300px; height: 300px" alt="" />

    <p style="font-size: 30px" class="not-found-message">
      We Are Sorry, We Can Not Find The Movie :(
    </p>
  </div>
</div>
