<!--search start -->
<div class="container mt-5 p5">
  <p class="search-text mt-3"><i>What Do You Want to watch?</i></p>
</div>
<form class="d-flex" role="search">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search..."
    aria-label="Search"
  />
  <button type="button" class="btn btn-outline-danger">Search</button>
</form>

<!--search end-->

<!--tabs start -->
<ul class="nav nav-tabs mt-5">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Now playing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Upcoming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Top rated</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="popular">Popular</a>
  </li>
</ul>
<!--tabs end -->
